<div class="sidebar1">
  <div class="Block">
      <div class="Block-tl"></div>
      <div class="Block-tr"><div></div></div>
      <div class="Block-bl"><div></div></div>
      <div class="Block-br"><div></div></div>
      <div class="Block-tc"><div></div></div>
      <div class="Block-bc"><div></div></div>
      <div class="Block-cl"><div></div></div>
      <div class="Block-cr"><div></div></div>
      <div class="Block-cc"></div>
      <div class="Block-body">
          <div class="BlockHeader">
              <div class="header-tag-icon">
                  <div class="BlockHeader-text">
                      Buscar Equipo
                  </div>
              </div>
              <div class="l"></div>
              <div class="r"><div></div></div>
          </div>
          <div class="BlockContent">
              <div class="BlockContent-body">
                  <div><form method="get" id="newsletterform" action="javascript:void(0)">
                  <input type="text" value="" name="host" id="s" style="width: 95%;" />
                  <button class="Button" type="submit" name="search">
                          <span class="btn">
                              <span class="t">Buscar</span>
                              <span class="r"><span></span></span>
                              <span class="l"></span>
                          </span>
                  </button>
                  </form></div>
              </div>
          </div>
      </div>
  </div>
</div>
