<div class="Post">
  <div class="Post-tl"></div>
  <div class="Post-tr"><div></div></div>
  <div class="Post-bl"><div></div></div>
  <div class="Post-br"><div></div></div>
  <div class="Post-tc"><div></div></div>
  <div class="Post-bc"><div></div></div>
  <div class="Post-cl"><div></div></div>
  <div class="Post-cr"><div></div></div>
  <div class="Post-cc"></div>
  <div class="Post-body">
<div class="Post-inner">
  <h2 class="PostHeaderIcon-wrapper">
      <img src="images/PostHeaderIcon.png" width="26" height="26" alt="PostHeaderIcon" />
      <span class="PostHeader">Welcome</span>
  </h2>
  <div class="PostContent">

      <img class="article" src="images/spectacles.gif" alt="an image" style="float: left" />
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
      <p>Lorem ipsum dolor sit amet,
      <a href="#" title="link">link</a>, <a class="visited" href="#" title="visited link">visited link</a>,
       <a class="hover" href="#" title="hovered link">hovered link</a> consectetuer
      adipiscing elit. Quisque sed felis. Aliquam sit amet felis. Mauris semper,
      velit semper laoreet dictum, quam diam dictum urna, nec placerat elit nisl
      in quam. Etiam augue pede, molestie eget, rhoncus at, convallis ut, eros.</p>
      <p><a href="javascript:void(0)">Read more...</a></p>

      <table class="table" width="100%">
              <tr>
                      <td width="33%" valign="top">
                      <div class="Block">
                              <div class="Block-body">
                                      <div class="BlockHeader">
                                              <!--div class="header-tag-icon"-->
                                              <div class="BlockHeader-text">
                                                      <center>Support</center></div>
                                              <!--/div-->
                                              <div class="l">
                                              </div>
                                              <div class="r">
                                                      <div>
                                                      </div>
                                              </div>
                                      </div>
                                      <div class="BlockContent">
                                              <div class="PostContent">
                                                      <img src="images/01.png" width="55px" height="55px" alt="an image" style="margin: 0 auto; display: block; border: 0" />
                                                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                      Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                                                      velit semper laoreet dictum, quam diam dictum urna. </p>
                                              </div>
                                      </div>
                              </div>
                      </div>
                      </td>
                      <td width="33%" valign="top">
                      <div class="Block">
                              <div class="Block-body">
                                      <div class="BlockHeader">
                                              <!--div class="header-tag-icon"-->
                                              <div class="BlockHeader-text">
                                                      <center>Development</center></div>
                                              <!--/div-->
                                              <div class="l">
                                              </div>
                                              <div class="r">
                                                      <div>
                                                      </div>
                                              </div>
                                      </div>
                                      <div class="BlockContent">
                                              <div class="PostContent">
                                                      <img src="images/02.png" width="55px" height="55px" alt="an image" style="margin: 0 auto; display: block; border: 0" />
                                                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                      Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                                                      velit semper laoreet dictum, quam diam dictum urna. </p>
                                              </div>
                                      </div>
                              </div>
                      </div>
                      </td>
                      <td width="33%" valign="top">
                      <div class="Block">
                              <div class="Block-body">
                                      <div class="BlockHeader">
                                              <!--div class="header-tag-icon"-->
                                              <div class="BlockHeader-text">
                                                      <center>Strategy</center></div>
                                              <!--/div-->
                                              <div class="l">
                                              </div>
                                              <div class="r">
                                                      <div>
                                                      </div>
                                              </div>
                                      </div>
                                      <div class="BlockContent">
                                              <div class="PostContent">
                                                      <img src="images/03.png" width="55px" height="55px" alt="an image" style="margin: 0 auto; display: block; border: 0" />
                                                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                      Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                                                      velit semper laoreet dictum, quam diam dictum urna. </p>
                                              </div>
                                      </div>
                              </div>
                      </div>
                      </td>
              </tr>
      </table>

  </div>
  <div class="cleared"></div>
</div>

  </div>
</div>

<div class="Post">
    <div class="Post-tl"></div>
    <div class="Post-tr"><div></div></div>
    <div class="Post-bl"><div></div></div>
    <div class="Post-br"><div></div></div>
    <div class="Post-tc"><div></div></div>
    <div class="Post-bc"><div></div></div>
    <div class="Post-cl"><div></div></div>
    <div class="Post-cr"><div></div></div>
    <div class="Post-cc"></div>
    <div class="Post-body">
<div class="Post-inner">
    <h2 class="PostHeaderIcon-wrapper">
        <img src="images/PostHeaderIcon.png" width="26" height="26" alt="PostHeaderIcon" />
        <span class="PostHeader">Who uses our products?</span>
    </h2>
    <div class="PostContent">



          <p>Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing elit, <a href="#" title="test link">test link</a>.
                Nullam dignissim convallis est. Quisque aliquam. <cite>cite</cite>.
                Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
                Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.
                Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. <acronym title="National Basketball Association">NBA</acronym> Mauris a ante.
                Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.
                Morbi imperdiet augue quis tellus.  <abbr title="Avenue">AVE</abbr></p>

            <blockquote>
                <p>
                    &#8220;This stylesheet is going to help so freaking much.&#8221;
                    <br />
                    -Blockquote
                </p>
            </blockquote>
          <br />
          <table class="article" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
            <tr>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
            </tr>
            <tr class="even">
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
            </tr>
            <tr>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
            </tr>
          </tbody></table>

          <p>
                <a class="Button" href="javascript:void(0)">
                  <span class="btn">
                    <span class="t">Join&nbsp;Now!</span>
                    <span class="r"><span></span></span>
                    <span class="l"></span>
                  </span>
                </a>
          </p>

    </div>
    <div class="cleared"></div>
</div>

    </div>
</div>